version: 2
updates:
  # Enable version updates for Rust
  - package-ecosystem: "cargo"
    directory: "/backend"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10

  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
