[package]
  edition = "2021"
  name    = "backend"
  version = "0.2.0"

[dependencies]
  axum = { version = "0.8" }
  bitcoin = { version = "0.32.8", features = [ "serde" ] }
  chrono = { version = "0.4.38", features = ["serde"] }
  clap = { version = "4.5", features = [ "derive" ] }
  hex = { version = "0.4" }
  jsonrpsee = { version = "0.24", features = [ "http-client" ] }
  reqwest = { version = "0.12.28", features = [ "json" ] }
  serde = { version = "1", features = [ "derive" ] }
  serde_json = { version = "1.0", default-features = false, features = [
    "alloc",
    "raw_value",
  ] }
  tokio = { version = "1.48.0", features = [ "macros", "rt-multi-thread" ] }
  toml = { version = "0.9.10" }
  tower-http = { version = "0.6", features = [ "cors" ] }
  tracing = { version = "0.1" }
  tracing-subscriber = { version = "0.3.22", features = [ "env-filter" ] }

  strata-bridge-primitives = { git = "https://github.com/alpenlabs/strata-bridge.git", tag = "v0.2.0-rc3" }
  strata-bridge-rpc = { git = "https://github.com/alpenlabs/strata-bridge.git", features = [
    "client",
  ], tag = "v0.2.0-rc3" }
  strata-primitives = { git = "https://github.com/alpenlabs/alpen.git", tag = "v0.2.0-rc4" }

[dev-dependencies]
  mockito = "1.7.1"

[[bin]]
  name = "backend"
  path = "src/main.rs"
